.navbar-container {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.navbar-container .logo {
  width: 50%;
  height: 50%;
  align-self: center;
}
.navbar-container .logo img {
  transform: scale(0.8);
}
.navbar-container #burger__open-icon {
  align-self: baseline;
}
.navbar-container .burger__menu {
  display: none;
  cursor: pointer;
}
.navbar-container .burger__menu .burger__line {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
  margin: 0.4rem 0;
  transition: all 0.3s ease;
}
.navbar-container .burger__menu .menu__list {
  display: none;
}
.navbar-container .burger__menu .burger__menu__header {
  display: none;
}
.navbar-container .burger__menu.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: rgba(37, 43, 70, 0.9);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.navbar-container .burger__menu.open .burger__menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1.2rem;
  margin-bottom: 2rem;
}
.navbar-container .burger__menu.open .menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 50%;
  color: rgb(255, 255, 255);
}
.navbar-container .burger__menu.open .menu__list__line {
  display: block;
  height: 1px;
  margin: 0.5rem 0;
  background-color: rgb(145, 148, 161);
  width: 80%;
}
.navbar-container .burger__menu.open .menu__list a {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}
.navbar-container .burger__menu.open .menu__list a:active {
  color: rgb(37, 43, 70);
}
.navbar-container .burger__menu.open #login {
  border: rgb(255, 255, 255) 2px solid;
  border-radius: 0.2rem;
  width: 80%;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar-container .burger__menu.open #login:active {
  background-color: rgb(255, 255, 255);
  color: rgb(37, 43, 70);
}
.navbar-container .burger__menu.open .burger__menu__footer {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: flex-end;
  width: 80%;
  margin-top: 7rem;
}
.navbar-container .burger__menu.open .burger__menu__footer img {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease;
}
.navbar-container .burger__menu.open .burger__menu__footer img:active {
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  #burger__open-icon {
    display: none;
  }
  .navbar-container {
    height: 20rem;
    display: flex;
    justify-content: flex-start;
  }
  .navbar-container .logo {
    width: 25%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
  }
  .navbar-container .logo img {
    transform: scale(0.3);
  }
  .navbar-container .burger {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar-container .burger .burger__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10rem;
  }
  .navbar-container .burger .burger__menu .burger__menu__header,
  .navbar-container .burger .burger__menu .burger__menu__footer,
  .navbar-container .burger .burger__menu .menu__list__line {
    display: none;
  }
  .navbar-container .burger .burger__menu .menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    width: 70%;
    height: 100%;
    color: rgb(37, 43, 70);
  }
  .navbar-container .burger .burger__menu .menu__list a {
    text-transform: uppercase;
    color: rgb(37, 43, 70);
    font-size: 3.8rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0;
  }
  .navbar-container .burger .burger__menu .menu__list a:hover {
    color: rgb(250, 87, 87);
  }
  .navbar-container .burger .burger__menu .menu__list #login {
    background-color: rgb(250, 87, 87);
    border: 5px solid rgb(250, 87, 87);
    border-radius: 1rem;
    padding: 2rem 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .navbar-container .burger .burger__menu .menu__list #login:active {
    background-color: rgb(255, 255, 255);
    color: rgb(250, 87, 87);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero__image-overlay {
  width: 80%;
  height: 22%;
  border-radius: 0 0 0 5rem;
  transform: translateY(90%) translateX(20%);
  position: absolute;
  background-color: rgb(83, 104, 223);
  z-index: -1;
  overflow: hidden;
}
.hero .hero__image {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: auto;
}
.hero img {
  transform: scale(0.6);
}
.hero .hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(37, 43, 70);
  margin: 0 0 5rem 0;
}
.hero .hero__content h2 {
  font-size: 1.9rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  font-weight: 500;
  margin: 0 0 2rem 0;
  color: rgb(37, 43, 70);
}
.hero .hero__content p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin: 0 0 4rem 0;
  color: rgb(145, 148, 161);
  width: 80%;
}
.hero .hero__content__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.hero .button {
  border-radius: 0.3rem;
  background-color: rgb(83, 104, 223);
  padding: 0.8rem 2.2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: none;
}
.hero .button.blue {
  color: rgb(255, 255, 255);
}
.hero .button.blue:active {
  background-color: rgb(255, 255, 255);
  color: rgb(83, 104, 223);
}
.hero .button.grey {
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  padding: 0.8rem 2.2rem;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(37, 43, 70);
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px 2px rgba(145, 148, 161, 0.5);
}
.hero .button.grey:active {
  background-color: rgb(37, 43, 70);
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
