.navbar-container {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 100%;
}
.navbar-container .logo {
  width: 50%;
  height: 50%;
  align-self: center;
}
.navbar-container .logo img {
  transform: scale(0.8);
}
.navbar-container #burger__open-icon {
  align-self: baseline;
}
.navbar-container .burger__menu {
  display: none;
  cursor: pointer;
}
.navbar-container .burger__menu .burger__line {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
  margin: 0.4rem 0;
  transition: all 0.3s ease;
}
.navbar-container .burger__menu .menu__list {
  display: none;
}
.navbar-container .burger__menu .burger__menu__header {
  display: none;
}
.navbar-container .burger__menu.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: rgba(37, 43, 70, 0.9);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.navbar-container .burger__menu.open .burger__menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1.2rem;
  margin-bottom: 2rem;
}
.navbar-container .burger__menu.open .menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 50%;
  color: rgb(255, 255, 255);
}
.navbar-container .burger__menu.open .menu__list__line {
  display: block;
  height: 1px;
  margin: 0.5rem 0;
  background-color: rgb(145, 148, 161);
  width: 80%;
}
.navbar-container .burger__menu.open .menu__list a {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}
.navbar-container .burger__menu.open .menu__list a:active {
  color: rgb(37, 43, 70);
}
.navbar-container .burger__menu.open #login {
  border: rgb(255, 255, 255) 2px solid;
  border-radius: 0.2rem;
  width: 80%;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar-container .burger__menu.open #login:active {
  background-color: rgb(255, 255, 255);
  color: rgb(37, 43, 70);
}
.navbar-container .burger__menu.open .burger__menu__footer {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: flex-end;
  width: 80%;
  margin-top: 7rem;
}
.navbar-container .burger__menu.open .burger__menu__footer img {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease;
}
.navbar-container .burger__menu.open .burger__menu__footer img:active {
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  #burger__open-icon {
    display: none;
  }
  .navbar-container {
    height: 20rem;
    display: flex;
    justify-content: flex-start;
  }
  .navbar-container .logo {
    width: 25%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
  }
  .navbar-container .logo img {
    transform: scale(0.3);
  }
  .navbar-container .burger {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar-container .burger .burger__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10rem;
  }
  .navbar-container .burger .burger__menu .burger__menu__header,
  .navbar-container .burger .burger__menu .burger__menu__footer,
  .navbar-container .burger .burger__menu .menu__list__line {
    display: none;
  }
  .navbar-container .burger .burger__menu .menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    width: 70%;
    height: 100%;
    color: rgb(37, 43, 70);
  }
  .navbar-container .burger .burger__menu .menu__list a {
    text-transform: uppercase;
    color: rgb(37, 43, 70);
    font-size: 3.8rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0;
  }
  .navbar-container .burger .burger__menu .menu__list a:hover {
    color: rgb(250, 87, 87);
  }
  .navbar-container .burger .burger__menu .menu__list #login {
    background-color: rgb(250, 87, 87);
    border: 5px solid rgb(250, 87, 87);
    border-radius: 1rem;
    padding: 2rem 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .navbar-container .burger .burger__menu .menu__list #login:active {
    background-color: rgb(255, 255, 255);
    color: rgb(250, 87, 87);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 5rem 0;
}
.hero .hero__image-overlay {
  width: 82%;
  height: 22%;
  border-radius: 0 0 0 5rem;
  transform: translateY(90%) translateX(-30%);
  position: absolute;
  background-color: rgb(83, 104, 223);
  z-index: -1;
}
.hero .hero__image {
  display: flex;
  justify-content: flex-end;
  height: auto;
}
.hero img {
  transform: scale(0.6);
}
.hero .hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(37, 43, 70);
  margin: 0 0 5rem 0;
}
.hero .hero__content h2 {
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  margin: 0 0 2rem 0;
  color: rgb(37, 43, 70);
}
.hero .hero__content p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin: 0 0 4rem 0;
  color: rgb(145, 148, 161);
  width: 80%;
}
.hero .hero__content__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.hero .button {
  border-radius: 0.3rem;
  background-color: rgb(83, 104, 223);
  padding: 0.8rem 2.2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: none;
}
.hero .button.blue {
  color: rgb(255, 255, 255);
}
.hero .button.blue:active {
  background-color: rgb(255, 255, 255);
  color: rgb(83, 104, 223);
}
.hero .button.grey {
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  padding: 0.8rem 2.2rem;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(37, 43, 70);
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px 2px rgba(145, 148, 161, 0.5);
}
.hero .button.grey:active {
  background-color: rgb(37, 43, 70);
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 80vh;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .hero .hero__content {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    margin-left: 40rem;
    gap: 3rem;
  }
  .hero .hero__content h2 {
    font-size: 15rem;
    text-align: left;
  }
  .hero .hero__content p {
    font-size: 5rem;
    text-align: left;
    line-height: 1.5;
    width: 90%;
  }
  .hero .hero__image {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .hero .hero__image img {
    z-index: 1;
    transform: scale(400%);
    margin-left: 20rem;
  }
  .hero .hero__content__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
  .hero .hero__content__buttons .button {
    font-size: 4rem;
  }
  .hero .hero__content__buttons .button.blue {
    color: rgb(255, 255, 255);
    border-radius: 0.3rem;
    background-color: rgb(83, 104, 223);
    padding: 4rem 5rem;
    cursor: pointer;
    border-radius: 1rem;
  }
  .hero .hero__content__buttons .button.grey {
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
    padding: 4rem 5rem;
    cursor: pointer;
    color: rgb(37, 43, 70);
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 5px rgba(145, 148, 161, 0.1);
  }
  .hero .hero__image-overlay {
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 0 0 0 25rem;
    transform: translateY(-18%) translateX(20%);
  }
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 5rem 0;
  gap: 0.5rem;
}
.features .features__image-overlay {
  width: 82%;
  height: 22%;
  border-radius: 0 5rem 5rem 0;
  transform: translateY(-50%) translateX(-20%);
  position: absolute;
  background-color: rgb(83, 104, 223);
  z-index: -1;
}
.features h2 {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
.features p {
  text-align: center;
  font-size: 1.1rem;
  color: rgb(145, 148, 161);
  line-height: 1.8rem;
  font-weight: 400;
  width: 80%;
}
.features .features__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: rgb(145, 148, 161);
  gap: 1rem;
  font-weight: 400;
  width: 100%;
}
.features .features__list a.selected {
  text-decoration-line: underline;
  text-decoration-color: rgb(250, 87, 87);
  text-underline-offset: 1.2rem;
}
.features .features__list__line {
  display: block;
  background: rgb(145, 148, 161);
  height: 1px;
  width: 70%;
}
.features .features__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  overflow: hidden;
}
.features .features__container img {
  scale: 0.63;
}
.features .features__container .features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.features .features__container .features__item .feature__item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.features .features__container .features__item h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
.features .features__container .features__item p {
  margin: auto;
  font-size: 1.1rem;
  color: rgb(145, 148, 161);
  line-height: 1.8rem;
  font-weight: 400;
  width: 100%;
}
.features .features__container .features__item button {
  border-radius: 0.3rem;
  background-color: rgb(83, 104, 223);
  padding: 0.8rem 2.2rem;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
  margin: 2rem auto;
  border: none;
  width: 80%;
}
.features .features__container .features__item.closed {
  display: none;
}

@media screen and (min-width: 1024px) {
  .features {
    width: 100%;
    margin: 0 0 5rem 0;
  }
  .features .features__image-overlay {
    width: 82%;
    height: 22%;
    border-radius: 0 25rem 25rem 0;
    transform: translateY(-50%) translateX(-20%);
    position: absolute;
    background-color: rgb(83, 104, 223);
    z-index: -1;
  }
  .features h2 {
    text-align: center;
    font-size: 15rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .features p {
    text-align: center;
    font-size: 5rem;
    color: rgb(145, 148, 161);
    line-height: 1.5;
    font-weight: 400;
    width: 80%;
  }
  .features .features__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: rgb(145, 148, 161);
    gap: 10rem;
    font-weight: 400;
    width: 80%;
    border-bottom: 2px solid rgb(145, 148, 161);
    padding-bottom: 8rem;
  }
  .features .features__list .features__list__line {
    display: none;
  }
  .features .features__list a.selected {
    text-decoration-line: underline;
    text-decoration-color: rgb(250, 87, 87);
    text-underline-offset: 8.8rem;
    color: rgb(37, 43, 70);
  }
  .features .features__list__line {
    display: block;
    background: rgb(145, 148, 161);
    height: 1px;
    width: 70%;
  }
  .features .features__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    overflow: hidden;
  }
  .features .features__container .features__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
  }
  .features .features__container .features__item img {
    scale: 3;
  }
  .features .features__container .features__item .feature__item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1rem;
  }
  .features .features__container .features__item h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .features .features__container .features__item p {
    margin: auto;
    font-size: 1.1rem;
    color: rgb(145, 148, 161);
    line-height: 1.8rem;
    font-weight: 400;
    width: 100%;
  }
  .features .features__container .features__item button {
    border-radius: 0.3rem;
    background-color: rgb(83, 104, 223);
    padding: 0.8rem 2.2rem;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    margin: 2rem auto;
    border: none;
    width: 80%;
  }
}
footer {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
footer .subscription {
  background-color: rgb(83, 104, 223);
  width: 100%;
  height: 25rem;
  margin: 0 auto;
}
footer .subscription p {
  color: rgb(255, 255, 255);
  font-size: 0.95rem;
  text-align: center;
  margin: 5rem auto 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
footer .subscription h2 {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-align: center;
  margin-block-start: 0;
  font-weight: 400;
}
footer .subscription form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer .subscription form .input-box {
  background-color: rgb(255, 255, 255);
  width: 80%;
  display: flex;
  padding: 10px;
  border-radius: 0.2rem;
}
footer .subscription form .input-box img {
  width: 1.5rem;
  height: 1.5rem;
}
footer .subscription form input {
  width: 100%;
  padding: 0.3rem 0;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}
footer .subscription form input::placeholder {
  color: rgb(37, 43, 70);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}
footer .subscription .error {
  display: none;
}
footer .subscription button {
  border-radius: 0.3rem;
  background-color: rgb(250, 87, 87);
  padding: 0.8rem 2rem;
  cursor: pointer;
  width: 80%;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  letter-spacing: 0.1rem;
  border: none;
}
footer .footer__container {
  background-color: rgb(37, 43, 70);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 25rem;
  margin: auto;
}
footer .footer__container .footer__container__logo {
  width: 5rem;
}
footer .footer__container .footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
footer .footer__container .footer__nav a {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.2rem;
}
footer .footer__container .footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: rgb(255, 255, 255);
}

/*# sourceMappingURL=main.css.map */
