@use "../sass/_mixin.scss";
@use "../sass/_variables.scss" as var;

.hero {
  @include mixin.flex(column, center);
  margin: 0 0 5rem 0;
  & .hero__image-overlay {
    width: 82%;
    height: 22%;
    border-radius: 0 0 0 5rem;
    transform: translateY(90%) translateX(-30%);
    position: absolute;
    background-color: var.$tertiary-color;
    z-index: -1;
  
  }

  & .hero__image {
    
    display: flex;
    justify-content: flex-end;
    height: auto;
  }
  & img {
    transform: scale(0.6);
    
  }
  .hero__content {
    @include mixin.flex(column, center);
    text-align: center;
    color: var.$secondary-color;
    margin: 0 0 5rem 0;

    & h2 {
    @include mixin.mobile-title;
      margin: 0 0 2rem 0;
      color: var.$secondary-color;
    }
    & p {
      font-size: 1.1rem;
      line-height: 1.8rem;
      font-weight: 400;
      margin: 0 0 4rem 0;
      color: var.$fourth-color;
      width: 80%;
    }
  }
  .hero__content__buttons {
    @include mixin.flex(row, center);
    gap: 1rem;
    width: 100%;
  }
  & .button {
    @include mixin.buttons(var.$tertiary-color, 0.8rem 2.2rem);
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    border: none;
  }
  .button.blue {
    color: var.$primary-color;
  }
  .button.blue:active {
    background-color: var.$primary-color;
    color: var.$tertiary-color;
  }
  .button.grey {
    @include mixin.buttons(var.$primary-color, 0.8rem 2.2rem);
    font-size: 1rem;
    color: var.$secondary-color;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 2px 2px rgba(145, 148, 161, 0.5);
  }
  .button.grey:active {
    background-color: var.$secondary-color;
    color: var.$primary-color;
  }
}

// responsive

@media screen and (min-width: 1024px) {
  .hero {
    height: 80vh;
    align-self: center;
    width: 100%;
    @include mixin.flex(row-reverse, space-around);
    & .hero__content {
      width: 50%;
      height: 80%;
      @include mixin.flex(column, center);
      align-items: flex-start;
      margin-left: 40rem;
      gap: 3rem;
      & h2 {
        font-size: 15rem;
        text-align: left;
      }
      & p {
        font-size: 5rem;
        text-align: left;
        line-height: 1.5;
        width: 90%;
      }
    }
    & .hero__image {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center;
      & img {
        z-index: 1;
        transform: scale(400%);
        margin-left: 20rem
      }
    }
    .hero__content__buttons {
      @include mixin.flex(row, flex-start);
      gap: 2rem;
      & .button {
        font-size: 4rem;
      }
      & .button.blue {
        color: var.$primary-color;
        @include mixin.buttons(var.$tertiary-color, 4rem 5rem);
        border-radius: 1rem;
      }
      & .button.grey {
        @include mixin.buttons(var.$primary-color, 4rem 5rem);
        color: var.$secondary-color;
        border-radius: 1rem;

        box-shadow: 2px 2px 5px 5px rgba(145, 148, 161, 0.1);
      }
    }

    & .hero__image-overlay {
      position: absolute;
      width: 40%;
      height: 40%;
      border-radius: 0 0 0 25rem;
      transform: translateY(-18%) translateX(20%);
    }
  }
}
