$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(37, 43, 70);
$tertiary-color: rgb(83, 104, 223);
$fourth-color: rgb(145, 148, 161);
$fifth-color: rgb(250, 87, 87);  
$text-base-size : 4rem;
$font: 'Rubik', sans-serif; 
$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);