@use '_variables.scss' as var;
@use '_nav.scss';
@use '_hero.scss';
@use '_features.scss';
@use'_footer.scss';

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: var.$font;
  background-color: var.$primary-color;
} 



